---
- name: "Installing Neovim dependencies"
  become: true
  apt:
    name:
      - neovim
      - ripgrep
      - fd-find
      - gcc
      - g++
      - make
      - unzip
      - curl
      - git
      - cmake
      - ninja-build
      - gettext
      - build-essential
      - lua5.1
      - liblua5.1-0-dev
      - python3
      - python3-pip
      - nodejs
      - npm
      - cargo
    state: present
    update_cache: true


- name: " Copy Nvim Folder to .config"
  copy:
    src: "{{ role_path }}/files/nvim"
    dest: "/home/{{ ansible_env.SUDO_USER }}/.config"
    owner: "{{ ansible_env.SUDO_USER }}"



- name: Install Neovim plugins (Lazy.nvim)
  command:
    cmd: nvim --headless "+Lazy! sync" +qa
  args:
    creates: "/home/{{ ansible_env.SUDO_USER }}/.local/share/nvim/lazy"
  changed_when: false

- name: Install pipx
  become: true
  apt:
    name: pipx
    state: present


# --------------------------------------------------
# "pipx" Install tools for python 
# --------------------------------------------------
- name: Ensure pipx path
  shell: pipx ensurepath
  changed_when: false

- name: Install Python dev tools via pipx
  shell: |
    pipx install flake8
    pipx install pylint
    pipx install black
    pipx install autopep8
    pipx install pytest
  args:
    creates: ~/.local/bin/black
